# Node modules
node_modules/

# Build output
dist/

# Environment variables
.env

# Json Output
AddressBooks.json

# Logs
*.log
npm-debug.log*

# IDE specific files
.vscode/
.idea/

# TypeScript cache
*.tsbuildinfo

# Temporary files
tmp/
temp/
